In [ ]:
''' 
In this mini practical you will take on the role of a data scientist at a telecom company. Your job is to analyze
customer data and build models that can predict how much a customer will spend in total (totalCharges). This
kind of problem is common in real-world data science — companies want to know not just who might leave
(churn), but how valuable their customers are over time.

'''

In [100]:
# Import all and only the necessary libraries (covered in the lectures, no others required). 
import pandas as pd
import numpy as np
import csv
from sklearn.tree import DecisionTreeClassifier 
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.model_selection import train_test_split

#Load the dataset into a Pandas DataFrame using the following column names
# 'ID, 'senior', 'tenure', 'streaming', 'contract', 'payMethod',
#'monthlyCharges', 'totalCharges', 'churn'

columns = ['ID', 'senior', 'tenure', 'streaming', 'contract', 'payMethod',
'monthlyCharges', 'totalCharges', 'churn']

df = pd.read_csv("CustomerChurn.csv", names = columns)
df

,ID,senior,tenure,streaming,contract,payMethod,monthlyCharges,totalCharges,churn
0,7590-VHVEG,0.0,1.0,No,Month-to-month,Electronic check,29.85,29.85,No
1,5575-GNVDE,0.0,34.0,No,One year,Mailed check,56.95,1889.50,No
2,3668-QPYBK,0.0,2.0,No,Month-to-month,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,0.0,45.0,No,One year,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,0.0,2.0,No,Month-to-month,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,NaN,NaN,NaN,One year,Mailed check,NaN,1990.50,No
7039,2234-XADUH,0.0,72.0,Yes,One year,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,0.0,11.0,No,Month-to-month,Electronic check,29.60,346.45,No
7041,8361-LTMKD,1.0,4.0,No,Month-to-month,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,NaN,NaN,Yes,NaN,Bank transfer (automatic),NaN,6844.50,No

In [101]:
# Display the first 5 rows, check the shape and datatypes, and iden.fy missing values.
df.head(5)
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              7043 non-null   object
 1   senior          7040 non-null   float64
 2   tenure          7021 non-null   float64
 3   streaming       7042 non-null   object
 4   contract        7041 non-null   object
 5   payMethod       7042 non-null   object
 6   monthlyCharges  7041 non-null   float64
 7   totalCharges    7042 non-null   object
 8   churn           7043 non-null   object
dtypes: float64(3), object(6)
memory usage: 495.3+ KB

In [102]:
df.dropna(subset=['senior','streaming'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              7043 non-null   object
 1   senior          7040 non-null   float64
 2   tenure          7021 non-null   float64
 3   streaming       7042 non-null   object
 4   contract        7041 non-null   object
 5   payMethod       7042 non-null   object
 6   monthlyCharges  7041 non-null   float64
 7   totalCharges    7042 non-null   object
 8   churn           7043 non-null   object
dtypes: float64(3), object(6)
memory usage: 495.3+ KB

,ID,senior,tenure,streaming,contract,payMethod,monthlyCharges,totalCharges,churn
0,7590-VHVEG,0.0,1.0,No,Month-to-month,Electronic check,29.85,29.85,No
1,5575-GNVDE,0.0,34.0,No,One year,Mailed check,56.95,1889.50,No
2,3668-QPYBK,0.0,2.0,No,Month-to-month,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,0.0,45.0,No,One year,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,0.0,2.0,No,Month-to-month,Electronic check,70.70,151.65,Yes
6,1452-KIOVK,0.0,22.0,No,Month-to-month,Credit card (automatic),89.10,1949.40,No

In [96]:
len(df)

7040

In [97]:
df.isna().sum()

ID                 0
senior             0
tenure            19
streaming          0
contract           0
payMethod          0
monthlyCharges     0
totalCharges       0
churn              0
dtype: int64